
@{
    ViewBag.Title = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                    Adrianne Claude R Tubig
                </a>
                <br />
                <span class="badge">2017-10</span>
            </li>   

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/cris-dismaya-955b61156/">
                    Cris L. Dismaya
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/fahrel-bresenio-b92137157/">
                    Fahrel Grei Bresenio
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/gladelyn-galamiton-489137157/">
                    Gladelyn G. Galamiton
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/harold-gomez-251502157/">
                    Harold Keith S. Gomez
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/stephanie-anne-815387133/">
                    Stephanie Anne M. Sadim
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-26">
                November 26, 2017
                <ul id="2017-11-26" class="collapse">
                    <li>
                        Created Project
                    </li>
                </ul>
            </li>

            @*Updates*@
            <li class="list-group-item" data-toggle="collapse" data-target="#01">
                December 08, 2017
                <ul id="01" class="collapse">
                    <li>
                        Created User Interface and function for Credential.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#02">
                December 11, 2017
                <ul id="02" class="collapse">
                    <li>
                        Created User Interface and function for Role.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#03">
                December 17, 2017
                <ul id="03" class="collapse">
                    <li>
                        Created User Interface for Change Password.
                    </li>
                    <li>
                        Removed the static header in Login page.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#04">
                December 19, 2017
                <ul id="04" class="collapse">
                    <li>
                        Removed the password textbox in Credential update.
                    </li>
                    <li>
                        Added the textbox for Role Description.
                    </li>
                    <li>
                        Created a mini documentation regarding the system updates.
                    </li>
                    <li>
                        Fixed the Email Valdation in Credential.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#05">
                December 20, 2017
                <ul id="05" class="collapse">
                    <li>
                        Checked the redundant source code in Credential and Role.
                    </li>
                    <li>
                        Updated the DLL.
                    </li>
                    <li>
                        Fixed the Validation in Password.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#06">
                December 21, 2017
                <ul id="06" class="collapse">
                    <li>
                        Created Sign out for Credential.
                    </li>
                    <li>
                        Created Flow Chart in Account External.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#07">
                December 27, 2017
                <ul id="07" class="collapse">
                    <li>
                        Created the function of Change Password.
                    </li>
                    <li>
                        Fixed the Validation of Change Password.
                    </li>
                    <li>
                        Compared the Current password in database.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#08">
                January 03, 2018
                <ul id="08" class="collapse">
                    <li>
                        Updated the mini documentaion for system updates.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#09">
                January 04, 2018
                <ul id="09" class="collapse">
                    <li>
                        Fixed the error of new password.
                    </li>
                    <li>
                        Fixed the validation in Role and Credential.
                    </li>
                    <li>
                        Created the Logo for Account External.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#10">
                January 05, 2018
                <ul id="10" class="collapse">
                    <li>
                        Created the account in LinkedIn.com.
                    </li>
                    <li>
                        Added the information in about page.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#11">
                January 09, 2018
                <ul id="11" class="collapse">
                    <li>
                        Updated the mini domumentation of Account External.
                    </li>
                </ul>
            </li>

            <li class="list-group-item" data-toggle="collapse" data-target="#12">
                January 22, 2018
                <ul id="12" class="collapse">
                    <li>
                        Changed the textbox into textarea for role description.
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

