
@{
    ViewBag.Title = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                    Adrianne Claude R Tubig
                </a>
                <br />
                <span class="badge">2017-10</span>
            </li>   

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/cris-dismaya-955b61156/">
                    Cris L. Dismaya
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/fahrel-bresenio-b92137157/">
                    Fahrel Grei Bresenio
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/gladelyn-galamiton-489137157/">
                    Gladelyn G. Galamiton
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/harold-gomez-251502157/">
                    Harold Keith S. Gomez
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/stephanie-anne-815387133/">
                    Stephanie Anne M. Sadim
                </a>
                <br />
                <span class="badge">2018-02-15</span>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-26">
                November 26, 2017
                <ul id="2017-11-26" class="collapse">
                    <li>
                        Created Project
                    </li> 
                </ul>

            </li> 
        </ul>
    </div>
</div>

