@using AccountExternalModel;
@model Credential

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div class="row">
    <div class="col-sm-12">
        <form action="~/Credential/Update" method="post">
            @{
            Html.RenderPartial("_Password", Model);
            }
        </form>
    </div>
</div>