
<input type="hidden" name="CredentialId" value="@Model.CredentialId" />
@{
    Html.RenderPartial("_AuditColumns");
}

<div class="form-group">
    <label for="Email">Current Password</label> @*Palitan ng for=password*@
    <input type="password" class="form-control" name="CurPassword" placeholder="Current Password" value="@Model.Email">
</div>

<div class="form-group">
    <label for="passsword">New Password</label>
    <input type="password" class="form-control" name="NPassword" placeholder="New Password" value="@Model.Username">
</div>


<div class="form-group">
    <label for="Username">Confirm Password</label> @*Palitan ng for=password*@ 
    <input type="password" class="form-control" name="ConPassword" placeholder="Confirm Password" value="@Model.Username">
</div>

<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>